<div class="container-fluid">

  <div class="row">
      <div class="col-md-2 mt-5">
          <div class="card border-0 shadow p-3">
              <div class="form-floating mb-3 tetx-center">
                  <h5 class="text-center text-dark">Add Products</h5>
              </div>
                  <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="firstName" name="firstname" [(ngModel)]="prdObj.name">
                      <label for="firstname">name</label>
                  </div>
                  <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="prdObj.price">
                      <label for="lastName">Price</label>
                  </div>
                  <div class="form-floating mb-3">
                      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="prdObj.cat">
                      <label for="email">Category Name</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="mobile" name="mobile" [(ngModel)]="prdObj.description">
                    <label for="mobile">Description</label>
                </div>
                  <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="mobile" name="mobile" [(ngModel)]="prdObj.quantity">
                      <label for="mobile">Quantity</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="prdObj.imageURL">
                    <label for="email">Img URL</label>
                </div>
                  <div class="form-floating mb-3">
                    <input type="file" (change)="upload($event)" accept="*.png.jpg" class="form-control" id="" name="mobile" [(ngModel)]="prdObj.image">
                    <button class="btn btn-success" (click)="uploadImage()">Upload</button>
                </div>

                  <button type="button" class="btn btn-outline-dark" (click)="addProduct()">Add Product</button>
          </div>
      </div>
      <div class="col-md-10 mt-2">
          <h5 class="text-danger"> Products List Kids</h5>
          <div class="card p-3 shadow">
              <div class="card-body">
                  <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">name</th>
                          <th scope="col">price</th>
                          <th scope="col">Cat </th>
                          <th scope="col">Desc</th>
                          <th scope="col">Quantity</th>
                          <th scope="col">img</th>
                          <th scope="col">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let prd of product">
                          <td >{{prd.name}}</td>
                          <td>{{prd.price}}</td>
                          <td>{{prd.cat}}</td>
                          <td>{{prd.description}}</td>
                          <td>{{prd.quantity}}</td>
                          <td><img src="{{prd.imageURL}}" class="image-fluid" style="width:100%"></td>
                          <td>
                              <button class="btn btn-outline-danger  "(click)=" deleteProduct(prd)">Delete</button>
                            <button class="btn btn-outline-info  "(click)=" update(prd)">Update</button>
                            <button  class="btn btn-outline-success" (click)="updateproduct(prd)">save</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
              </div>

          </div>
      </div>
  </div>

</div>

