
<div id="nav" class="nav-wrap">
  <img src="assets/opshan11.png" alt="" class="img-fluid" width="50%" />
  <nav class="main-nav" role="navigation">
    <ul class="unstyled list-hover-slide">
      <li class="nav-item my-3">
        <a
          routerLink="home"
          routerLinkActive="active"
          class="nav-link align-middle px-0"
        >
          <i class="fa fa-bar-chart" aria-hidden="true"></i>
          <span class="ms-1 d-none d-sm-inline">Overview</span>
        </a>
      </li>
      <li class="nav-item my-3">
        <a
          routerLink="/users"
          routerLinkActive="active"
          class="nav-link px-0 align-middle"
        >
          <i class="fa fa-product-hunt" aria-hidden="true"></i>
          <span class="ms-1 d-none d-sm-inline">Users</span>
        </a>
      </li>
      <li class="nav-item my-3">
        <a
          routerLink="/products"
          routerLinkActive="active"
          class="nav-link px-0 align-middle"
        >
          <i class="fa fa-product-hunt" aria-hidden="true"></i>
          <span class="ms-1 d-none d-sm-inline">Kids Products</span>
        </a>
      </li>
      <li class="nav-item my-3">
        <a
          routerLink="/men"
          routerLinkActive="active"
          class="nav-link px-0 align-middle"
        >
          <i class="fa fa-product-hunt" aria-hidden="true"></i>
          <span class="ms-1 d-none d-sm-inline">Men Products</span>
        </a>
      </li>
      <li class="nav-item my-3">
        <a
          routerLink="/women"
          routerLinkActive="active"
          class="nav-link px-0 align-middle"
        >
          <i class="fa fa-product-hunt" aria-hidden="true"></i>
          <span class="ms-1 d-none d-sm-inline">Women Products</span>
        </a>
      </li>
      <li class="nav-item my-3">
        <a
          routerLink="/documents"
          routerLinkActive="active"
          class="nav-link px-0 align-middle"
        >
          <i class="fa fa-user-circle" aria-hidden="true"></i>
          <span class="ms-1 d-none d-sm-inline">Documents</span>
        </a>
      </li>
      <li class="nav-item my-3">
        <a routerLink="/addAdmin" routerLinkActive="active" class="nav-link px-0">
          <i class="fa fa-user-circle" aria-hidden="true"></i>
          <span class="d-none d-sm-inline">Add Admin</span>
        </a>
      </li>
      <li class="nav-item my-3">
        <a routerLink="/login" routerLinkActive="active" class="nav-link px-0"
          ><i class="fa fa-sign-out" aria-hidden="true"></i>
          <span class="d-none d-sm-inline">LogOut</span></a
        >
      </li>

      <li class="nav-item my-3"><a class="nav-link" >About Us</a></li>
    </ul>
  </nav>
  <ul class="social-links list-inline unstyled list-hover-slide">
    <li>
      <a href="#"
        ><i
          style="width: 50"
          class="fa fa-facebook-official"
          aria-hidden="true"
        ></i>
      </a>
    </li>
    <li>
      <a href="home"><i class="fa fa-database" aria-hidden="true"></i> </a>
    </li>
    <li>
      <a href="home"><i class="fa fa-barcode" aria-hidden="true"></i> </a>
    </li>
    <li>
      <a href="home"><i class="fa fa-registered" aria-hidden="true"></i> </a>
    </li>
  </ul>
</div>
