
<header>
  <div class="container">
     <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-3">
           <div class="logo">
              <a routerLink="/home" title="logo"><i class="fa fa-pie-chart" aria-hidden="true"></i>
                Adimn Dshboard</a>
           </div>
           <div class="mob-menu">
              <span>
                 <i class="fa fa-bars"></i>
              </span>
           </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-9">
           <div class="main-menu">
              <ul class="right-nav">
                  <li><a routerLink="/login"> <i class="fa fa-user"></i> Log Out </a> </li>
                <li class="active"> <a routerLink="/addAdmin"> <i class="fa fa-plus" aria-hidden="true"></i>
                  Add Admin </a> </li>
              </ul>
           </div>
        </div>
     </div>
  </div>
</header>

